.nap p {
    margin: 0px 0px 5px 0px ;
}

.nap .box {
  border: 1px solid grey;
  padding: 8px 12px 8px 20px;
  margin-right: 20px;
  margin-bottom: 20px;

}

.nap .col1 {
  margin-bottom: 20px;
}
.nap .text {
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size: 11px;
  text-align: left;

}
.nap .headln {
  font-size: 12px;
  text-align: left;
  margin-top: 0;
  font-weight: bold;

}

.nap .btn-view-all {
  display: inline-block;
  margin: 20px 0 0 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 1px;
  padding: 10px 16px;
}

.nap .top-buffer {
  margin-top:0;

.nap .border-line{
  display: block;
  width: 90%;
  height: 1px;
  background: black;
  margin: 2px auto;
}
