.container-fluid .row {
  padding: 0.20%;
}

.about-us-back {
  padding: 0.20%;
  background: #222;
}


h1 {
  color: #e1d8c6;
  padding: 0.20%;
  margin: -1px;
}

.text-right {
  color: #a8a8a8a8;
  padding: 0.20%;
}

.col-md-2 {

}

.desc-about-us {
  padding: 0.30%;
  margin: 40px;
  color: white;
}

.desc-about-content {
  color: #a8a8a8a8;
}
.icons-row {
  background: white;
  margin-top: 15px;
}

.icon-card {
  background: white;
}

.icon-desc {
  background: white;
}

.un-highlight {
  color: #a8a8a8a8;
}
