
/* Header and Navigation Bar */

#header-module .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px;
}

#header-module .navbar-inverse {
  background-color: #363636;
}

#header-module .col-md-8 {
  background-color: #363636;
}

#header-module .navbar .active {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 3px solid #ffffff;
}

#header-module .logo {
  background: url("../assets/logo_160.png") no-repeat 0 -40px;
  height: 69px;
  width: 160px;
  float: right;
}

.navbar-nav {
  color: #919191;
}

/* About Us Content */

.about-us-back {
  padding: 0.20%;
  background: #313131;

}

.about-us-desc {
  font-family: Georgia;
  font-size: 40px;
}

.black-space {
  height: 100px;
}

h1 {
  color: #c0a878;
  padding: 0.20%;
  margin: 40px;
}

.left-title {
  font-size: 30px;
  font-family: sans-serif;
}

.text-right {
  color: #a8a8a8a8;
  padding: 0.20%;
  margin: 40px;
  font-size: 14px;
}

.desc-about-us {
  padding: 0.30%;
  margin-top: 10px;
  color: #c8c8c8;
  font-family: Georgia;
  font-size: 20px;
}

.desc-about-content {
  color: #c8c8c8;
  margin-top: 20px;
}

.spacing {
  height: 100px;
}

.social-media-icons {
  color: #d7d7d7;
  height: 20px;
  width: 20px;
}

.social-media-icons-twitter {
  color: #c0a878;
  height: 20px;
  width: 20px;
}




/* Contact Form */

.contact-feed input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top:0;
}

.contact-feed .form-group .name
 {
  border: 1px solid #c0a878;
}

.first-input ::placeholder  {
  color: #c0a878;
  font-size: 14px;
}

::placeholder {
  color: #959595;
}


.contact-feed .empty-text {
  margin-top: 20px;
  padding-left: 0;
}

.contact_info p {
  font-size: 14px;
  color: #959595;
}

.contact_info h3 {
  color: #464646;
  font-size: 42px;
}

.feedback h3 {
  color: #464646;
  font-size: 42px;
}

.info_list .descrip {
  color: #c0a878;
}

.btn-default {
  background-color: #7b7b7b;
  color: #ffffff;
}

/* Footer */

footer h4 {
  color: #acacac;
  font-family: Arial, sans-serif;
}

footer .text {
  color: #959595;
  font-size: 12px;
}

footer .footer-top {
  background-color: #383838;
  padding-bottom: 10px;
}

footer .about {
  margin-left: -10px;
  margin-top: 1.5%;
  padding-left: 0;
  padding-right: 0;
  word-wrap: break-word;
}

footer .fa-caret-right {
  margin-left: 10px;
 }

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .hotel {
  margin-top: 1.5%;
  padding-left: 40px;
}

footer .contact-us {
  margin-top: 1.5%;
  padding-left: 0;
  padding-right: 0;
}

footer .flex-container {
  align-content: space-between;
  display: flex;
}

footer .icon {
  color: #c0a878;
}

footer .border-line {
  background-color: #959595;
  display: block;
  width: 90%;
  height: 1px;
}

footer .contact-type {
  color: #c0a878;
  font-size: 11px;
  text-align: right;
}

footer .information {
  color: #acacac;
  font-size: 11px;
  padding-left: 20px;
}

footer .copyright {
  font-size: 12px;
  margin-left: -25px;
  margin-right: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}

footer .designer {
  font-size: 12px;
  margin-right: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}

footer .logo {
  padding-right: 0;
}

footer .center-block {
  margin-top: 40%;
  margin-right: 0;
}

footer .bar {
  background-color: #3f3f3f;
  color:  #9a9a9a;
  padding-top: 10px;
}

footer .footer-read {
  margin-top: 20%;
}
