
/*-- About Us  */

/* Header and Navigation Bar */

#header-module .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px;
}

#header-module .navbar-inverse {
  background-color: #363636;
}

#header-module .col-md-8 {
  background-color: #363636;
}

#header-module .navbar .active {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 3px solid #ffffff;
}

#header-module .logo {
  background: url("../assets/logo_160.png") no-repeat 0 -40px;
  height: 69px;
  width: 160px;
  float: right;
}

.navbar-nav {
  color: #919191;
}
/* Abous Us Content */


.about-us-back {
  padding: 0.20%;
  background: #313131;

}

.about-us-desc {
  font-family: Georgia;
}

.black-space {
  height: 100px;
}

h1 {
  color: #c0a878;
  padding: 0.20%;
  margin: 40px;
}

.left-title {
  font-size: 30px;
  margin-right: 15px;
}

.text-right {
  color: #bebebe;
  padding: 0.20%;
  margin: 40px;
}

.blank-img {
  margin-top: -100px;
  margin-left: 82px;
}

.spacing {
  height: 100px;
}


/*---Products gallery---*/

#row-gallery {
  padding: 0 0 10px 10px;
}

.row-gallery h1 {
  color: #464646;
  font-size: 42px;
  margin-left: 15px;
}

.row-image-button {
  padding: 0 0 10px 15px;
}
#image-button {
  padding: 0 0 15px 0px;
  margin-right: 40px;
}

#right-button {
  float: right;

}

.btn-basic-right {
  align: right;
}

.btn-sm {
  color: #8c8c8c;
  width: 115px;
}

.row-gallery-1 .col-md-2 {
  width: 200px;
  height:200px;
}


.blank-img {
  margin-top: -100px;
  margin-left: 62px;
}

.btn-gold-prd {
  color: #c0a878;
  border: 1px solid #c0a878;
  width: 40px;
}

.arrow-prd {
  width: 40px;
}

/* Product Banner */
.image-center {
  border: 1px solid white;
  margin-left: 250px;
  margin-top: 15px;
}

.black-space-products {
  color: #313131;
  height: 150px;
}
