/* Header and Navigation Bar */

#header-module .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px;
}

#header-module .navbar-inverse {
  background-color: #363636;
}

#header-module .col-md-8 {
  background-color: #363636;
}

#header-module .navbar .active {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 3px solid #ffffff;
}

#header-module .logo {
  background: url("../assets/logo_160.png") no-repeat 0 -40px;
  height: 69px;
  width: 160px;
  float: right;
}

.navbar-nav {
  color: #919191;
}

/* Abous Us Content */


.about-us-back {
  padding: 0.20%;
  background: #313131;

}

.about-us-desc {
  font-family: Georgia;
}

.black-space {
  height: 100px;
}

h1 {
  color: black;
  margin-left: 210px;
}

.left-title {
  font-size: 24px;
  margin-left: 15px;
  color: #c0a878;
}

.text-right {
  color: #a8a8a8a8;
  /* padding: 0.20%; */
  margin-top: 25px;
}

.blank-img {
  margin-top: -100px;
  margin-left: 63px;
}

/* Products Gallery */

.row-gallery h1 {
  color: #464646;
  font-size: 42px;
  margin-left: 15px;
}

.row-image-button {
  padding: 0px 0px 15px 0px;
  margin-right: 15px;
}

.right-button  {
  float: right;
}

.btn-basic-right {
  align: right;
}

.btn-sm-gold {
  color: #c0a878;
  margin-left: 10px;
  border: 1px solid #c0a878;
}

.btn-sm-prd {
  width: 85px;
  margin: 0px 1px 0px 1px;
}

.col-width {
  width: 19.992%;
  height: 150px;
}

.gutter {
  margin-left: 10px;

}
.blank-img {
  margin-top: -82px;
  margin-left: 36px;


/* Products Banner */

.image-center {
  margin-left: 350px;
  margin-top: 100px;

.black-space-products {
  color: #313131;
  height: 100px;
}

/* Footer */

footer h4 {
  color: #acacac;
  font-family: Arial, sans-serif;
}

footer .text {
  color: #959595;
  font-size: 12px;
}

footer .footer-top {
  background-color: #383838;
  padding-bottom: 10px;
}

footer .about {
  margin-left: -10px;
  margin-top: 1.5%;
  padding-left: 0;
  padding-right: 0;
  word-wrap: break-word;
}

footer .fa-caret-right {
  margin-left: 10px;
 }

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .hotel {
  margin-top: 1.5%;
  padding-left: 40px;
}

footer .contact-us {
  margin-top: 1.5%;
  padding-left: 0;
  padding-right: 0;
}

footer .flex-container {
  align-content: space-between;
  display: flex;
}

footer .icon {
  color: #c0a878;
}

footer .border-line {
  background-color: #959595;
  display: block;
  width: 90%;
  height: 1px;
}

footer .contact-type {
  color: #c0a878;
  font-size: 11px;
  text-align: right;
}

footer .information {
  color: #acacac;
  font-size: 11px;
  padding-left: 20px;
}

footer .copyright {
  font-size: 12px;
  margin-left: -25px;
  margin-right: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}

footer .designer {
  font-size: 12px;
  margin-right: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}

footer .logo {
  padding-right: 0;
}

footer .center-block {
  margin-top: 40%;
  margin-right: 0;
}

footer .bar {
  background-color: #3f3f3f;
  color:  #9a9a9a;
  padding-top: 10px;
}

footer .footer-read {
  margin-top: 20%;
}
