
/* Header and Navigation Bar */

#header-module .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px;
}

#header-module .navbar-inverse {
  background-color: #363636;
}

#header-module .col-md-8 {
  background-color: #363636;
}

#header-module .navbar .active {
  color: #fff;
  font-weight: bold;
  border-bottom: 3px solid #fff;
}

#header-module .logo {
  background: url("../assets/logo_160.png") no-repeat 0 -40px;
  height: 69px;
  width: 160px;
  float: right;
}

/* June Banner */

.background-box {
height: 300px;
width: 800px;
background: #222;
border: 1px solid #222;
}

.june-img-dots {
  margin: -210px 0 0 750px;
  padding: 0 0 0 5px;
}

.news-icon-img {
margin: 120px 0 0 375px;
}

.h4-june-text {
  font-size: 20px;
  color: white;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;

}

.june-text,
.june-text-two {
  font-size: 16px;
  padding: 0 0 0 10px;
}
