/* Header and Navigation Bar */

#header-module {
  background-color: #fff;
}

#header-module .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px;
}

#header-module .navbar-inverse {
  background-color: #363636;
}

#header-module .col-md-8 {
  background-color: #363636;
}

#header-module .navbar .active {
  color: #fff;
  font-weight: bold;
  border-bottom: 3px solid #fff;
}

#header-module .logo {
  background: url("../assets/logo_160.png") no-repeat 0 -40px;
  height: 69px;
  width: 160px;
  float: right;
}

/* News Content */

.container-fluid {
  background-image: url(../assets/background-texture.png);
}

.news-header h1 {
  font-weight: 400;
  margin: 0.5em 0 0.75em 0;
}

.news-content h2 {
  margin: -0.05em 0 0 0;
}

.article-date {
  background-color: #e1d8c6;
  color: #fff;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0.75em;
}

.social-icons {
  display: inline;
  margin: 0 0 0 1.5em;
}

.social-icons a {
  margin: 0 0.75em 0 0;
}

/* .logo-fb,
.fa-twitter,
.fa-google-plus-g {
  height: 100%;
} */

.logo-fb {
  background-color: #e1d8c6;
  color: #fff;
}

.fa-twitter, 
.fa-google-plus-g {
  color: lightgrey;
}

.news-content p {
  color: gray;
  font-size: 1.25em;
} 

/* Popular/Recent Column */

.popular-recent {
  background-color: #fff;
  border: 1px solid lightgray;
}

.popular-header {
  color: #e1d8c6;
}

.recent-header {
  background-color: #333;
  color: #fff;
}

.top-paragraph {
  margin: 1em 0 0 0;
}

section p {
  color: gray;
}

section time {
  color: lightgray;
}

.gold-text {
  color: #e1d8c6;
}