/* Header and Navigation Bar */

#header-module .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px;
}

#header-module .navbar-inverse {
  background-color: #363636;
}

#header-module .col-md-8 {
  background-color: #363636;
}

#header-module .navbar .active {
  color: #fff;
  font-weight: bold;
  border-bottom: 3px solid #fff;
}

#header-module .logo {
  background: url("../assets/logo_160.png") no-repeat 0 -40px;
  height: 69px;
  width: 160px;
  float: right;
}

/* About Us Content */

.container-fluid .row {
  padding: 0.20%;
}

.about-us-back {
  padding: 0.20%;
  background: #222;

}

.about-us-desc {
  font-family: Times;
}

.black-space {
  height: 100px;
}

h1 {
  color: #e1d8c6;
  padding: 0.20%;
  margin: 40px;
}

.left-title {
  font-size: 24px;
}

.text-right {
  color: #a8a8a8a8;
  padding: 0.20%;
  margin: 40px;
}

.desc-about-us {
  padding: 0.30%;
  margin-top: 10px;
  color: white;
  font-family: Times;
  font-size: 18px;
}

.desc-about-content {
  color: #a8a8a8a8;
  margin-top: 20px;
}
.icons-row {
  background: white;
  margin-top: 15px;
}

.icon-card {
  background: white;
}

.icon-desc {
  background: white;
}

.team-overview {
  color: #e1d8c6;
  font-size: 32px;
  margin-top: 30px;
}

.team-overview-desc {
  font-size: 14px;
  color: #a8a8a8a8;
}

.png-rows {
  margin: 30px 2px 5px 2px;
  height: 180px;

}

.blank-img {
  margin-top: -100px;
  margin-left: 63px;
}

.john-doe {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

.founder {
  color: #a8a8a8a8;
}

.team-desc {
  margin: 0px;
}

.social-media-icons {
  color: #a8a8a8a8;
}

.spacing {
  height: 100px;
}

/* Services and Preferences */

.black-space-after {
  height: 10px;
}

.sub-header {
  color: #e1d8c6;
  font-size: 24px;
  font-family: Times;
}

.demo-icon {
  background: purple;
  height: 22px;
  width: 20px;
  color: white;
  border: 2px solid purple;
}

.demo-icon-desc {
  color: #a8a8a8a8;
  font-family: arial, sans-serif;
  font-size: 12px;
  margin-top: -20px;
}
.air-conditioner {
  background: purple;
  height: 18px;
  margin-bottom: 8px;
}

.fridge-icon {
  background: purple;
  margin-bottom: 8px;
}

.free-breakfast {
  margin-left: -4px;
}