
.icon-sun:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-suitcase:before { content: '\e805'; } /* '' */
.icon-globe-alt:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-paper-plane:before { content: '\e80a'; } /* '' */
.icon-panorama-horizontal:before { content: '\e80b'; } /* '' */
.icon-compass:before { content: '\e80c'; } /* '' */
.icon-picture-1:before { content: '\e80d'; } /* '' */
.icon-picture-2:before { content: '\e80e'; } /* '' */
.icon-washing-machine:before { content: '\e80f'; } /* '' */
.icon-play-circled:before { content: '\e810'; } /* '' */
.icon-gplus:before { content: '\e811'; } /* '' */
.icon-signal:before { content: '\e812'; } /* '' */
.icon-air:before { content: '\e813'; } /* '' */
.icon-food:before { content: '\e814'; } /* '' */
.icon-bar:before { content: '\e815'; } /* '' */
.icon-tv:before { content: '\e816'; } /* '' */
.icon-phone-in-talk:before { content: '\e817'; } /* '' */
.icon-email-outline:before { content: '\e818'; } /* '' */
.icon-parking:before { content: '\e819'; } /* '' */
.icon-image-multiple:before { content: '\e81a'; } /* '' */
.icon-twitter-1:before { content: '\e81b'; } /* '' */
.icon-facebook-box:before { content: '\e81c'; } /* '' */
.icon-email-outline-1:before { content: '\e81d'; } /* '' */
.icon-wallet-travel:before { content: '\e81e'; } /* '' */
.icon-earth:before { content: '\e81f'; } /* '' */
.icon-compass-outline:before { content: '\e820'; } /* '' */
.icon-parking-1:before { content: '\e821'; } /* '' */
.icon-lock:before { content: '\e822'; } /* '' */
.icon-washing-machine-1:before { content: '\e823'; } /* '' */
.icon-fridge:before { content: '\e824'; } /* '' */
.icon-dumbbell:before { content: '\e825'; } /* '' */
.icon-baby-buggy:before { content: '\e826'; } /* '' */
.icon-air-conditioner:before { content: '\e827'; } /* '' */
.icon-compass-outline-1:before { content: '\e828'; } /* '' */
.icon-earth-(1):before { content: '\e829'; } /* '' */
.icon-wallet-travel-1:before { content: '\e82a'; } /* '' */
.icon-right-open:before { content: '\e82b'; } /* '' */
.icon-left-open:before { content: '\e82c'; } /* '' */
.icon-up-open:before { content: '\e82d'; } /* '' */
.icon-down-open:before { content: '\e82e'; } /* '' */
.icon-down-dir:before { content: '\e82f'; } /* '' */
.icon-left-dir:before { content: '\e830'; } /* '' */
.icon-right-dir:before { content: '\e831'; } /* '' */
.icon-up-dir:before { content: '\e832'; } /* '' */
.icon-trash-empty:before { content: '\e833'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e834'; } /* '' */
.icon-cancel-circled:before { content: '\e835'; } /* '' */
.icon-cancel:before { content: '\e836'; } /* '' */
.icon-cancel-circled-1:before { content: '\e837'; } /* '' */
.icon-swimming:before { content: '\e838'; } /* '' */
.icon-cancel-circled2:before { content: '\e839'; } /* '' */
.icon-plus:before { content: '\e83a'; } /* '' */
.icon-plus-circled:before { content: '\e83b'; } /* '' */
.icon-plus-outline:before { content: '\e83c'; } /* '' */
.icon-plus-1:before { content: '\e83d'; } /* '' */
.icon-plus-circled-1:before { content: '\e83e'; } /* '' */
.icon-plus-2:before { content: '\e83f'; } /* '' */
.icon-plus-circled-2:before { content: '\e840'; } /* '' */
.icon-plus-squared-1:before { content: '\e841'; } /* '' */
.icon-plus-circle:before { content: '\e842'; } /* '' */
.icon-plus-3:before { content: '\e843'; } /* '' */
.icon-plus-4:before { content: '\e844'; } /* '' */
.icon-clock:before { content: '\e845'; } /* '' */
.icon-user:before { content: '\e846'; } /* '' */
.icon-trash-1:before { content: '\f083'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */